/*header with home and subscribe button*/

header {
    display: flex;
}
header > h1 {
    flex: 1 0 auto;
}

/*banner images and cover text*/

#toy-banner {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#toy-image {
height: 100px;
width: 100%;
background: url('../images/train-header.png') no-repeat center center;;

}

#cover-text  {
    width: 250px;
    height: 250px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: rgba(43, 209, 173, 0.6);

    bottom: 30px;
    left: 20px;

    position: absolute;



}

#cover-text > h3 {
    color:#000033;
    font-style: Arial, ssans-serif;
    text-transform: uppercase;
    font-size: 160;

}

#cover-text > h4 {
    color:#000033;
    font-style: Arial, ssans-serif;
    font-size: 140;

}