/*body*/

body {
    height: 100vh;
}

/*menu*/

#menu {
    height: 30px;
    width: 100%;
    padding: 15px 20px 15px 20px;
    background-color: bisque;
}

#menu li {
    float: left;
    list-style-type: none;
    
}

#menu a {
    text-decoration: none;
}

.left {
    float:left;
}

.right {
    float: right;
}

/*banner images and cover text*/

#toy-banner {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

.toy-container {
    height: 250px;
    width: 100%;
    display: block;
    position: relative;
    background: url('../images/cartoon-forest-landscape.jpg');
    background-size:contain;
    border: 3px solid;
}
div #toy-image {
    display: block;
    position: absolute;
    animation: moveTrain 20s forwards;
    background: url('../images/train-header.png') no-repeat center center;
    background-size: contain;
    height: 200px;
    bottom: 0;
    width: 600px;
}
/*animation*/
@keyframes moveTrain {
    from  {
       transform: translateX(100vw);

    }
    to {
        transform:translateX(0%);
    }
}

#cover-text  {
    width: 230px;
    height: 220px;

    padding-top: 7px;
    padding-left: 10px;

    border: 3px solid #000;

    background-color: rgba(255, 255, 255, 0.841);
    animation:fadeIn 3s forwards;
    animation-delay: 7s;
    opacity: 0;
    top: 15px;
    right: 20px;
    bottom: 5px;
    position: absolute;

}
/*animation*/

@keyframes fadeIn {
    from {
        opacity: 1;
    }
    to {
        opacity: 2;
    }

}

#cover-text > h3 {
    color:#000033;
    font-style: Arial, ssans-serif;
    text-transform: uppercase;
    font-size: 160;

}

#cover-text > h4 {
    color:#000033;
    font-style: Arial, ssans-serif;
    font-size: 140;

}

/*header with home and subscribe button*/

header {
    height: 30px;
    width: 100%;
    display: flex;
    padding: 15px 20px 15px 20px;
    background-color: bisque;
}
header > h1 {
    flex: 1 0 auto;
    text-align: center;
    font-size: 150%;
}