/*body*/

body {
    height: 100vh;
}
/*header with home and subscribe button*/

header {
    display: flex;
}
header > h1 {
    flex: 1 0 auto;
}

/*banner images and cover text*/

#toy-banner {
    height: 300px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

.toy-container {
    height: 250px;
    width: 100%;
    display: block;
    position: relative;
    background: url(https://thumbs.dreamstime.com/b/cartoon-forest-landscape-stones-hand-draw-illustration-135774982.jpg);
    background-size:contain;
    border: 2px solid;
}
div#toy-image {
    display: block;
    position: absolute;
    animation: moveTrain 20s forwards;
    background: url('../images/train-header.png') no-repeat center center;
    background-size: contain;
    height: 200px;
    bottom: 0;
    width: 600px;
}

@keyframes moveTrain {
    from  {
       transform: translateX(100vw);

    }
    to {
        transform:translateX(0%);
    }
}

#cover-text  {
    width: 230px;
    height: 220px;

    padding-top: 7px;
    padding-left: 10px;

    border: 2px solid #000;

    background-color: rgba(255, 255, 255, 0.841);

    top: 15px;
    right: 20px;
    bottom: 5px;

    position: absolute;

}

#cover-text > h3 {
    color:#000033;
    font-style: Arial, ssans-serif;
    text-transform: uppercase;
    font-size: 160;

}

#cover-text > h4 {
    color:#000033;
    font-style: Arial, ssans-serif;
    font-size: 140;

}